/* style.css */

body{
  background: #fff;
  color: grey; 
  font-size: 20px;
  font-family: 'Source Sans Pro'
  margin:3;
}
h1{
 font-family: 'Merriweather', serif;
  color:  cadetblue; 
  font-weight: bolder;
  font-size: 2em;
}

h2 {
  font-family: 'Roboto', sans-serif;
  color: skyblue;
  font-weight: lighter;
  font-size: 1.5em;
   margin: 10px

}
h3 {
    font-family: 'Roboto', sans-serif;
  color: darkorange;
  font-size: 1.5em;
  width: 280px;
  border: 3px ;
   margin: 0 auto;
   padding: 10px 20px 20px 20px;
}

p{
  color: palevioletred;
  font-size: 20px;
  margin: 20px
 
}
div{
  font-family: 'Roboto', sans-serif;
  color: darkblue;
  margin: 30px
}
ul{
  color:darkblue;
  font-family: roboto, revert;
  width: 180px;
  border: 3px solid black;
   margin: 0 auto; 
}
a{
  color: darkorange;
  font-family: 'Merriweather', serif;
  font-weight: bolder;
}
